/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

:root {
  --yellow-bg: #ffecae;
  --gray-1: #141414;
  --red-1: #b72a25;

  --text-lg: 2rem;
}

/* === Set up the fonts === */

/* Bricolage Grotesque regular */
@font-face {
  font-family: "BricolageGrotesque";
  src: url("/blog-do-rochinha/fonts/BricolageGrotesque-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/* Bricolage Grotesque bold */
@font-face {
  font-family: "BricolageGrotesque";
  src: url("/blog-do-rochinha/fonts/BricolageGrotesque-Bold.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/* === === */

body {
  min-height: 100vh;
  font-family: "BricolageGrotesque", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--gray-1);
  margin: 0;
  padding: 0;
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
  background-color: var(--yellow-bg);
}
main {
  width: 720px;
  max-width: calc(100% - 2em);
  margin: auto;
  margin-bottom: 0.5rem;
  padding: 0 1em;
}
h1 {
  font-size: 2.2rem;
  line-height: 1.2;
  color: var(--red-1);
  margin: 0;
}
p {
  font-size: clamp(1.1rem, 1.5vw - 0.5rem, 2rem);
  margin: 0 0 1rem 0;
}
a {
  text-decoration: none;
  color: unset;
}
mark {
  background-color: #9393e9;
  padding: 0 2px;
  border-radius: 2px;
}
