---
import Image from "astro/components/Image.astro";
import coracao from "../assets/coracao-desenhado.png"
---

<footer>
	<span>Feito com <Image width={20} src={coracao} alt="Coração" /> por Igor Rocha</span>
</footer>
<style>
	footer {
		background: white;
		padding: 1rem;
		margin-top: 2rem;
		display: flex;
		flex-direction: row;
		justify-content: center;
		color: var(--gray-1);
	}
</style>
