---
import { Image } from "astro:assets"
import { BASE_URL } from "../consts"
import logo_bg_1 from "../assets/logo-bg-1.png"
---

<header>
	<a href={BASE_URL}><Image src={logo_bg_1} width={150} quality="max" alt="Rochinha" /></a>
</header>

<style>
	header {
		padding: 1rem;
		max-width: 800px;
		margin: 0 auto;
	}
</style>
